/* ICONS */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  /* height: 5000px; */
  /* 높이값 잠시 강제로 줘서 badge 스크롤 확인함 */
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  /* 위 아래 여백 주지 않고, 대표적인 중앙정렬 속성 */
  position: relative;
}

.strong {
  font-weight: 700;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 6px 20px;
  /* contents box여야 padding 값이 먹음 */
  border: 2px solid currentColor;
  /* currentcolor 값을 상속받은 color 속성에서 대신 가져옴 */
  border-radius: 5px;
  font-size: 15px;
  /* 이게 글로벌 버튼 컨텐츠임. 이걸로 앞으로 btn 하면 통일됨 */
}

.btn--light-green {
  /* -- modifier 라는 뜻임. 이름을 붙이는 처리 */
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}

.btn--light-green:hover {
  background-color: #076443;
  border-color: black;
  color: white;
  text-decoration: underline;
}

.btn--brown {
  color: #633510;
  border-color: #633510;
  transition: 0.6s;
}

.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}

.btn--gold {
  border-color: #966932;
  color: #966932;
  transition: 0.6s;
}

.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}

/* 버튼에 색 지정해서 다 넣어주기 */

/* 부모 요소에 시간을 넣어주는게
바뀔 때나, 돌아갈 때나 시간이 잘 먹힘. */

.btn--white {
  border-color: #fff;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}

.btn--white:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline;
}

.btn--black {
  border-color: #000;
  color: #000;
  cursor: pointer;
}

.btn--black:hover {
  background-color: #000;
  color: white;
  text-decoration: underline;

  /* transition: 0.6s; */
  /* hover 해도 0.6초 동안 안먹음 */
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}

header>.inner {
  height: 120px;
}

header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 75px;
}

/* Sub menu */
header .inner .sub-menu {
  font-family: 'Avenir', sans-serif;
  display: flex;
  position: absolute;
  top: 6px;
  right: 50px;
}

header .inner .sub-menu .sub-menu__menu {
  display: flex;
}

header .inner .sub-menu .sub-menu__menu>li {}

header .inner .sub-menu .sub-menu__menu>li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}

header .inner .sub-menu .sub-menu__menu>li>a {
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  color: #656565;
}

header .inner .sub-menu .sub-menu__menu>li>a:hover {
  text-decoration: underline;
}

header .inner .sub-menu .search {
  position: relative;
}

header .inner .sub-menu .search>input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}

header .inner .sub-menu .search>input:focus {
  width: 190px;
}

header .inner .sub-menu .search>input:focus::placeholder {
  color: #656565;
}

header .inner .sub-menu .search>.material-symbols-outlined {
  position: absolute;
  margin: auto;
  right: -1px;
  width: 36px;
  text-align: center;
  top: 0;
  bottom: 0;
  height: 24px;
  cursor: pointer;
}

/* MAIN MENU */
header .inner .main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .inner .main-menu .item {}

header .inner .main-menu .item .item__name {
  font-size: 13px;
  padding: 10px 22px 34px 22px;
}

header .inner .main-menu .item:hover .item__name {
  cursor: pointer;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}


header .inner .main-menu .item .item__contents {
  position: fixed;
  width: 100%;
  left: 0;
  /* 뷰포트를 기준으로 왼쪽 0에 기준시켜야 메뉴 바로 밑으로 정렬 안됨 */
  top: 120px;
  /* 헤더 바로 밑에 붙을 수 있도록 혹시 모르니까 헤더만큼은 위에서 떨어트림. 더 잘 고정시킬 수 있게 */
  display: none;
  /* display: block */
  /* 개발자 도구에서 확인하려고 none 없애고 block 잠깐 해놈 */
}

header .inner .main-menu .item:hover .item__contents {
  display: block;
}

header .inner .main-menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner {
  display: flex;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li {
  width: 200px;
  padding-right: 20px;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li>a {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li>a:hover {
  text-decoration: underline;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li>ul {}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li>ul>li {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}

header .inner .main-menu .item .item__contents .item__contents__menu .inner>li>ul>li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* BADGES */
header .badges {
  position: absolute;
  /* 헤더를 기준으로 얘네가 absolute 값 가지게,
  fixed를 absolute가 따라다니는 것임. 얘네도 fixed 처럼 움직이는 것임. */
  top: 150px;
  right: 10px;
  /* left: calc(1100px + (100vw - 1100px) / 2);
  right 줘도 되는데 쓸데 없는 짓이기도 함 */
}

/* header 가 position: fixed 값 갖고 있기 때문에
absolute 처리해서 뷰포트를 따라다님!
부모 요소 계산 잘 해놓고, 얘는 따라다녀라 하면 편리함 */

header .badges .badge {
  cursor: pointer;
}

header .badges .badge img {
  width: 140px;
}

@media screen and (max-width: 1400px) {

  /* 하나 하나 맞추다보니 요정도 값이라 노가다 함 */
  header .badges {
    left: calc (100vw-150px);
  }
}

/* 정말 쓸데없는 짓이긴 한데 이런 것도 된다 라는걸 보여주심 */

/* VISUAL */
.visual {
  position: relative;
  /* 안에 이미지들이 비쥬얼을 토대로 포지션 잡아야 하고,
  문서 상에서 쌓아나가야 하기 때문에
  2개를 충족시켜야 할 것은 얘 밖에 없기 때문. */
  margin-top: 120px;
  /* 얘 자체를 margin-top: 120; 주어서 notice line이 밑에서부터.. 쌓여간다.
  얘가 위치하는 공간 자체를 밀어버려서 아래에 위치하게됨 */
  /* 문서 흐름을 따라가는건 static, relative
  포지션이 header가 fixed 문서흐름을 떠있는 친구다.
  그래서 헤더 아래부터 문서 흐름을 시작해야 함. 포지션은 뷰포트에 의해 변할 가능성 있어서
  마진 값 120px 줘서 내릴 것이다.*/
  background-image: url("../images/visual_bg.jpg");
  /* background-size: contain; */
  /* 짧은 쪽에 이미지가 맞춰진 것을 보니 컨테인 */
  background-position: center;
  background-size: 106% 100%;
  /* 가로축, 세로축에 맞춰서 이미지를 106% 할건지 100% 할건지 지정
  이 정도 하면 좀 맞아들어지는 것 같아서 이걸로 함.
  대신에 position은 center로 넣어줘야 함. */
  background-repeat: no-repeat;
}

.visual .inner {
  position: relative;
  height: 646px;
  /* 어차피 비쥬얼 이너 파트에서 높이값 영향 받기 때문에 */
}

.visual .inner .slogan {
  position: absolute;
  /* 나머지 이미지들 신경 쓰이니까 html에서 주석처리하고 슬로건 먼저 작업함 */
  display: flex;
  /* flex-wrap: nowrap; */
  /* 수평으로 쌓어야 하는데 수직으로 쌓이게 변경 */
  width: 340px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  top: 180px;
  left: -130px;
  height: 300px;
  opacity: 0;
}

.visual.animate .inner .slogan {
  opacity: 1;
  transition: 0.4s;
}

.visual .inner .slogan img {
  width: 340px;
}

.visual .inner .slogan .btn {
  position: absolute;
  top: 250px;
}

.visual .inner img {
  position: absolute;
}

.visual .inner .item-1 {
  width: 290px;
  top: 120px;
  left: 340px;
  opacity: 0;
}

.visual.animate .inner .item-1 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.4s;
}


.visual .inner .item-2 {
  width: 310px;
  top: 208px;
  left: 538px;
  opacity: 0;
}

.visual.animate .inner .item-2 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.8s;
}


.visual .inner .item-3 {
  width: 310px;
  top: 160px;
  left: 762px;
  opacity: 0;
}

.visual.animate .inner .item-3 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 1.2s;
}


/* position 을 잡는 기준을 inner 에 두고,
top,left, bottom 움직여서 이미지를 잘 맞추는게 중요한 기준 */

/* NOTICE */
.notice {
  position: relative;
}

.notice .notice-line {
  position: relative;
  font-weight: 700;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: white;
}

.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
}

.notice .notice-line .inner .inner__left .swiper {
  position: absolute;
  height: 62px;
  left: 80px;
  font-size: 14px;
}

/* 한장 나가고 사라지고 한장 나가고 사라지고 할 것임 */

.notice .notice-line .inner .inner__left .swiper .swiper-wrapper .swiper-slide {
  height: 62px;
  /* notice 라인을 가득 채울거라 62px 줌 */
  line-height: 62px;
}

.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
}

.notice .notice-line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
  /* 실제 글자의 제일 바닥으로 처리가 된다. */
  /* 알파벳 g 생각하면 꼬리까지 baseline이 좀 내려오기 때문에
  그림이 약간 위로 뜬 현상이 나타날 것이다. */
}

.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}

.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}

.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color: black;
  transition: 0.2s;
}

.notice .notice-line .inner .inner__right a.show {
  transform: rotate(180deg);
}

.notice .notice-line .inner .inner__right a span {
  font-size: 36px;
  /* vertical-align: bottom;
  얘는 inline 레벨에서만 작동하는 position이니 작동안할거다.
  글자에만 사용 가능함. 그래서 block 진행. */
  display: block;
}


/* PROMOTION */
.notice .promotion {
  position: relative;
  height: 658px;
  background-color: #f6f5ef;
  overflow: hidden;
  transition: height 0.4s;
}

.notice .promotion.hide {
  height: 0px;
}

.notice .promotion .swiper {
  position: absolute;
  width: calc(819px * 3 + 20px);
  /* 띄어쓰기 잘 해야된다. 아니면 3만얼마가 나온다. */
  height: 553px;
  /* background-color: orange; */
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.notice .promotion .swiper .swiper-wrapper {}

/* 다른걸로 덮어씌운거다. */
.notice .promotion .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  transition: 0.2s;
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
  /* 선명하게 한거임 */
}

.notice .promotion .swiper .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  width: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.notice .promotion .swiper .swiper-pagination {
  /* width: 100px;
  height: 50px;
  background-color: black; */
}

.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
  position: absolute;
  top: 250px;
  width: 55px;
  height: 55px;
  border: 2px solid #333;
  color: #333;
  border-radius: 50%;
  /* 50% 주면 동그래진다. */
  cursor: pointer;
  z-index: 1;
}

/* 검사창에서 화살표 건드려보면 after 뜸.
포인트 직접 주어야 함 */
.notice .promotion .swiper-button-prev::after,
.notice .promotion .swiper-button-next::after {
  font-size: 24px;
}

.notice .promotion .swiper-button-prev {
  left: 50%;
  transform: translateX(-550px);
}

.notice .promotion .swiper-button-next {
  right: 50%;
  transform: translateX(550px);
}

.notice .promotion .swiper-pagination {}

.notice .promotion .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.notice .promotion .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_on.png");
  background-size: cover;
  background-color: transparent;
  /* 이미지가 투명해서 바닥에 깔린 색을 보여주겠다. */
  /* promotion에 띄어진 배경색 하얀색이 보여짐 */
}



/* REWARDS */

.rewards {
  position: relative;
  background-color: #1e3932;

}

.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}

.rewards .inner .rewards__logo {
  /* 다시 확인해주신다고 함! */
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;
}

.rewards .inner .rewards__logo img {
  display: block;
  width: 176px;
}

.rewards .inner .rewards__items {
  flex-grow: 1;

}


.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  /* border-bottom: 0.5px solid #c8c8c8; */
  /* 0.5px 는 지원이 안됨. 1px 까지만 되는듯. 근데 좀 두꺼워서 box-shadow 사용 */
  box-shadow: 0 0.5px #c8c8c8;
  /* x축 y축 - y축에서만 그림자 효과 주는 방법 */
}

.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
  font-weight: 700;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login

/* 아래 기입한 것들 카피해서 동시에 적용하도록 , 콤마 활용해서 활용 */
  {

  border-color: white;
  color: white;
  font-weight: 700;

}

/* , 콤마 찍어서 동일한 CSS hover 적용하겠다! */
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register:hover,
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login:hover,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login:hover {
  text-decoration: underline;
}


.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
  /* 아래 btn 포지션 잡아줘야해서 기준점 relative 잡아줘야 함 */

}

.rewards .inner .rewards__items .rewards__items__card p {
  display: block;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 23.02.07 화 */
/* CSS, html 강사님도 헤매심. */
/* 내일 스타벅스 클론 끝남, 자바 기초부터 스타벅스에 java 넣는 것도 함.. */

/* ELSALVADOR */
.elsalvador {
  position: relative;
  /* relative 위에 있는 아이템에서 자연스럽게 쌓이면서 자기 자리 찾아갈 것임 */
  height: 570px;
  /* 어차피 넓이는 뷰포트 값에서 받아올 것이기 때문에 높이만 지정 */
  background-image: url('../images/elsalvador_bg.jpg');
  background-size: cover;
  /* 105% 긴 축을 기준으로 딱 맞추는게 아니라 더 키워서 맞추겠다. 이렇게 되어있었다고 함.
  대신 105% 하면 이미지가 커지니까 이미지가 밀려서  background image가 가운데로 오도록 작업 할 것임. */
  background-position: center;
  overflow: hidden;
  /* 이미지가 밀려 나갈 수도 있으니까 hidden 처리 */
}

.elsalvador .inner {
  position: relative;
  /* background-color: skyblue; */
  /* 위치 확인하려고 컬러 줌! */
  height: 100%;
  /* 부모 요소에서 받아온다. */
}

.elsalvador .inner img.elsalvador__item {
  width: 310px;
  /* 스타벅스 실제 그림이 가로 310임 */
  position: absolute;
  /* 왔다갔다 시킬거니까 absolute 해놓음
  부모가 누군지에 따라 잘 움직임. 문서 흐름에서 위에서 붕붕 날아다녀야
  다른 요소들 안밀고 위치 선정 잘 될 수 있음*/
  top: 70px;
  left: 100px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
  /* 2.5초에 걸쳐서 이동이 일어나게 됨 */
}

/* 홈페이지에서 드래그가 되면 이미지이고, 드래그 안되면 배경이미지다.
간단하게 확인할 때 좋음. */

/* img 태그인데 저거다. 하고 지정해주어도 됨. */

.elsalvador .inner .elsalvador__contents {
  position: absolute;
  width: 339px;
  /* 스타벅스 가니까 실제 w이 339px임 */
  top: 180px;
  right: 140px;
  /* 디자인 적인 요소는 top이나 이런걸로 위치 지정해주는게 도움이 됨 */
  transform: translateX(900px);
  /* active 마우스 때면 밀려나는 값임 */
  opacity: 0;
  /* 투명해졌다가 나타나게 만들거임 */
  transition: 2.5s;
  /* 동일한 시간대에 맞아야 delay가 없어질 것임 */
}

/* 일치선택자 elsavador.animate 붙여서 선택 */
/* active -> animate 로 변경함 스크롤 먹이려고 */
.elsalvador.animate .inner img.elsalvador__item,
.elsalvador.animate .inner .elsalvador__contents {
  opacity: 1;
  transform: translateX(0);
  /* 원래 있어야 할 곳으로 다시 리턴 시킴 */
  /* translate 돌려놓고 0으로 다시 돌려놓기 */
}

.elsalvador .inner .elsalvador__contents .btn.btn--brown {
  margin-top: 40px;
}

/* .btn : 글로벌 버튼 컨텐츠도 가지고 있고, btn--brown도 있다 라고 저장 */

/* 아까 중간에 뭐 지운거 뭔지..
이미지 크기부터 지정하고 움직여라. absolute 지정 해라.
Visual처럼 쌓여있는 애들은 left 부터 순서대로 하는게 좋음.
수학적으로 다 더하면 여러개 쌓여있을 때는 한축으로 미는게 편리하다. */

/* 클래스명이 같으면 맨 위에 있는 .inner 를 기준으로 잡을 수 있었던거임 */
/* ETHIOPIA */
.ethiopia {
  position: relative;
  height: 400px;
  background-image: url("../images/ethiopia_bg.png");
  /* background-position: center; */
  /* 이미지가 원체 딱 맞아떨어져서 center 안줘도 됨
  삐져나가지 않도록 안전하게 hidden 정도만 걸어줌. */
  overflow: hidden;
  /* 자기 공간에서 나가는 애들 안보이게 처리 */
}

/* 높이 속성 안주면 오토가 되버려서 자식이긴 하나, 값을 받아올 수 없어서
자식들이 높이 값을 제공하다가 공중으로 뜨니까 높이값 못받아서 남은 애들의 높이값만 못받아서 받아오기 때문에 */

.ethiopia::before {
  content: "";
  /* content: "" 이걸 안넣어주면 아래 요소 전부 다 무시 당한다. */
  position: absolute;
  /* 기본적으로 inline 요소 들어가는데 display는 block 자동으로 된다.
  저건 자동적으로 공간을 주는거기 때문에.. */
  left: -50px;
  width: 425px;
  /* 사이즈 참조했을 때 425px 나왔음 */
  height: 404px;
  background-image: url("../images/ethiopia_before.png");
  background-size: cover;
  /* 단색 이미지가 아니니까 긴 축에 이미지에 맞추겠다. 지정. */
  /* container는 repeat이 생길 가능성이 높아짐. */
  /* background-repeat: no-repeat; */
  /* cover 해도 생기면 안되니까 no-repeat 줌 */
  bottom: 0;
  opacity: 0;
  /* 안보이게 처리 */
}

.ethiopia::after {
  content: "";
  /* 빈 문자열 넣어주기 */
  position: absolute;
  width: 361px;
  height: 404px;
  /* 넓이, 높이값 기존 것 맞춰주면 됨 */
  bottom: 0;
  right: 0;
  /* 아래쪽, 오른쪽에서도 바짝 붙이게 둘 다 0 */
  background-image: url("../images/ethiopia_after.png");
  background-size: cover;
  /* 얘도 안전을 위해서 cover */
  /* background-repeat: no-repeat; */
  /* 특정공간을 가득 채우는 상황을 없도록 처리 */
  opacity: 0;
  /* 안보이게 처리 */
}

.ethiopia.animate::before,
.ethiopia.animate::after {
  transition: 1.5s;
  /* 1.5초로 잡아져있음 */
  opacity: 1;
}

.ethiopia .inner img.ethiopia__contents {
  position: absolute;
  width: 496px;
  left: 0;
  /* 바짝 붙어있는 것 같아서 */
  top: 120px;
  /* 확인해보니 top은 120px로 잡아놓으심 */
}

.ethiopia .inner img.ethiopia__item {
  position: absolute;
  left: -500px;
  opacity: 0;
}

.ethiopia.animate .inner img.ethiopia__item {
  transition: 1.5s;
  transition-delay: 0.8s;
  opacity: 1;
}

.ethiopia .inner .btn.btn--gold {
  position: absolute;
  left: 260px;
  top: 270px;
  /* 저 느낌인 것 같다고 지정해놓으신 값임
  어찌 됐던 absolute 주고 inner 포지션 잡은 것임 */
}

/* FAVORITE */
.favorite {
  position: relative;
  height: 800px;
  background-image: url("../images/fav_bg.png");
  background-size: cover;
  /* 긴 축에 화면에 맞추겠다. */
  background-attachment: fixed;
  /* 스크롤에 따라서 위로 올라가는게 아니라 뷰포트를 따라오는 것 같이 작동 */
}

/* 텍스트랑 버튼들 div로 묶어서 움직여도 됨!
right 0 주고, 하는 등 */

.favorite .inner img.favorite__text-1 {
  position: absolute;
  width: 258px;
  top: 120px;
  left: 108px;
  /* 이너 기준으로 움직임 */
  /* 강사님거랑 다름 .. */
  transform: translateX(-700px);
  opacity: 0;
  transition: 2s;
}

.favorite .inner img.favorite__text-2 {
  position: absolute;
  width: 362px;
  top: 370px;
  /* 이너 기준으로 움직임 */
  /* left: 700px; */
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
  /* 마치 delay 준 것처럼 잡아줌 */
}

.favorite.animate .inner img.favorite__text-1,
.favorite.animate .inner img.favorite__text-2 {
  opacity: 1;
  transform: translateX(0);
}

.favorite .inner img.favorite__item {
  position: absolute;
  width: 912px;
  top: 100px;
  right: -260px;
}

.favorite .inner .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px;
  /* 정확한 수치 아님. 북마크를 기준으로 근사값으로 계산. */
}

/* 축별로 다르게 주기 */
/* MAGAZINE */

.magazine {
  position: relative;
  height: 400px;
  background-image: url("../images/magazine_bg.png");
  background-position: center 30px;
  /* 두 방향으로 설정,
  수평으로는 가운데에 맞추겠다. 수직으로는 픽셀값으로 내릴 수 있다.
  위에서 30px 아래로 내린다. */
  margin-top: 25px;
  background-repeat: no-repeat;
  /* 이미지가 깨지면 페이지에 대한 신뢰도가 깨지니까 */
}

/* .magazine {
  position: relative;
  height: 400px;
  background-image: url("../images/magazine_bg.png");
  background-size: cover;
  background-position: center 50px;
  background 배경이 흰색이라 50px 밀어도 여기가 연결되어 보이는거다.
  이미지가 배경색이 흰색이 아니였으면 다르게 처리 했었어야 함.
  background-repeat: no-repeat;
  overflow: hidden;
  overfolow: hidden 미학적인 용도로 숨긴다.
  글자 콘텐츠가 있으면 콘텐츠 그냥 잘라버린다.
  수업시간에 같이 한 것, 이렇게도 설정함.
} */

.magazine .inner img.magazine__contents {
  position: absolute;
  width: 588px;
  top: 135px;
  left: 60px;
}

.magazine .inner img.magazine__item {
  position: absolute;
  width: 348px;
  right: 50px;
  top: -25px;
  opacity: 0;
  transition: 1.5s;
}

/* .magazine .inner img.magazine__item {
  position: absolute;
  width: 348px;
  right: 50px;
  top: 0px;
  수업시간에 같이 한 것, 이렇게도 설정함.
  opacity: 0;
  transition: 1.5s;
} */

.magazine.animate .inner img.magazine__item {
  opacity: 1;
}

.magazine .inner .btn.btn--black {
  position: absolute;
  top: 270px;
  left: 295px;
}

/* ** 글자랑 버튼 컨테이너 묶어서 중앙정렬,
0 0 주고 마진 오토 주고 하는게 더 정확하긴 하다. */

/* STORE */

.store {
  position: relative;
  height: 400px;
  background-image: url("../images/store_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* no-repeat 일단 넣어놓는거 */
  overflow: hidden;
  /* 이미지가 다른데로 흘러가거나 하는 것 없애려고 hidden 처리 */
}

.store .inner {
  height: 400px;
  /* 집 아래에 붙이려고 inner에 400px 라고 높이 값 지정해줌 */
}

.store .inner .store__text-1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  /* 일단 애가 있어야 할 곳에 존재 시키고, 애니메이터 효과 주기 */
  transform: translateX(800px);
  transition: 2s;
}

.store .inner .store__text-2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  transform: translateX(800px);
  transition: 2.5s;
}

.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  /* padding을 줘서 글자 크기 잡아주고 있다. */
  right: 330px;
  transform: translateX(800px);
  /* transition: 3s; */
  /* hover도 3초 동안 블랙처리가 되기 때문에 고쳐줘야 함 */
}

.store.animate .inner .store__text-1,
.store.animate .inner .store__text-2 {
  transform: translateX(0);
  /* 800px 씩 오른쪽으로 밀려있기 때문에 0 줘서 다시 너네 자리로 돌아와라 */
}

.store:active .inner .btn.btn--black {
  transform: translateX(0);
  transition: transform 3s, background-color 0.6s, color 0.6s, text-decoration 0.6s;
  /* 조금 귀찮겠지만 각각 속성별로 시간을 이렇게 걸어준다.
  하나의 요소에 다양한 transform, transition 원하는 속성에 맞게 시간을 지정해줄 수 있다. */
  /* 순서 공식문서 같은거 잘 확인해서 적용하면 됨 */

  /* transition이 걸리면 모든 속성이 걸리는 것에 초수가 걸린다.
  그래서 transform에 해당하는 속성만 3초만 이라는 뜻! 
  active 일 때는 transform만 3초이고, hover 일 때는 위에 지정한 1.5초 동안 됨! */
}

.store .inner .store__img-1 {
  position: absolute;
  width: 366px;
  top: 0px;
  /* 이거 원래 위쪽이 좀 잘린 이미지임 */
  left: 70px;
  opacity: 0;
  transition: 1.5s
}

.store .inner .store__img-2 {
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
  opacity: 0;
  transition: 1.5s
}

.store .inner .store__img-3 {
  position: absolute;
  width: 348px;
  top: -60px;
  /* 이미지가 생각보다 커서 -60px 줄거임 */
  /* overflow: hidden 쳐서 윗부분 침범하는거 안보이는거임 */
  left: 430px;
  opacity: 0;
  transition: 1.5s
}

.store .inner .store__img-4 {
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0;
  /* 자식들의 크기 높이 요소를 자동으로 합산해서 inner 높이 auto 임
  inner 라는 친구는 높이값을 가질 수 없는 상황,
  그래서 0 px 매거진 아래 바닥에 존재하고 있는 상황이 발생한거임 */
  opacity: 0;
  transition: 1.5s
}

.store.animate .inner .store__img-1,
.store.animate .inner .store__img-2,
.store.animate .inner .store__img-3,
.store.animate .inner .store__img-4 {
  opacity: 1;
}

/* FOOTER */
footer {
  position: relative;
  background-color: #2c2a29;
  /* margin 주면 하얀색 부분이 튀어나옴 */
  padding: 30px 0;
}

footer .inner {
  /* 비쥬얼 같은 애들은 높이값을 주고 그것을 바탕으로 포지션을 잡거나 해야되는데
  bg 이미지를 적용해야되서 높이값 지정 했기 때문에, 얘는 bc 컬러 줄거고
  컨텐츠 높이만을 가져가는게 자연스러울거라 height 안잡음 */
}


/* FOOTER MENU */
footer .inner .footer__menu {
  display: flex;
}

footer .inner .footer__menu .left {
  width: 90%;
  /* 왼쪽 90% 먹게 하기 위해서 */
}

footer .inner .footer__menu .left .menu {
  display: flex;
  /* list 애들 가로로 배치시키기 */
}

footer .inner .footer__menu .left .menu>li {
  width: 20%
    /* 1/5 씩 나눠가질 수 있도록 */
    /* 넓이는 부모한테서 받아오는 것임 left 라는 공간 90% 받아와서
    90%의 공간 각각 나눠서 가짐*/
}

footer .inner .footer__menu .left .menu>li>ul {}

footer .inner .footer__menu .left .menu>li>ul>a {
  /* a태그는 기본적으로 인라인 요소라 마진, 패딩 안먹기 때문에
  block 처리 먼저 해준 것임 */
  display: block;
  font-size: 14px;
  color: white;
  margin: 10px 0;
  /* 패딩을 줘도 되고, 마진을 줘도 됨 */
}

footer .inner .footer__menu .left .menu>li>ul>li {
  font-size: 12px;
  color: white;
  padding: 5px 0;
  cursor: pointer;
}

footer .inner .footer__menu .left .menu>li>ul>a:hover,
footer .inner .footer__menu .left .menu>li>ul>li:hover {
  text-decoration: underline;
}

footer .inner .footer__menu .right {
  /* display: flex; */
  width: 10%;
  /* justify-content: flex-end; */
  /* flex 속성을 줘야 이게 먹음 */
  /* 로고 그림이 늘어남 */
  /* align-item: flex-start; */
  /* 기본값이 수직 정렬 align-item: stretch 정렬이기 때문에 */
}

footer .inner .footer__menu .right img {
  float: right;
  /* 글과 사진이 겹쳐있을 때 쓰면 좋음.
  요즘은 거의 쓸 일 없지만, 오래된 속성도 아쉬면 ..
  flex는 justify 어쩌구 3줄씩 쓰고 해야 하니까 쉬운 속성임 */
  /* 사진 위치를 결정해주는 float 속성 (float이 기본값이 left 임)
  자기가 존재할 수 있는 공간에서 right 주면 오른쪽으로 감 */
}

/* FOOTER SUB-MENU */
footer .inner .footer__sub-menu {
  padding: 30px 50px 10px;
}

footer .inner .footer__sub-menu>ul {
  display: flex;
  justify-content: space-between;
  /* 아이템들이 양 끝에 붙어있다. 하면 space-between
  주축에 대한 것. flex 방향 가로축. 그래서 justify-content로 함 */
  /* flex-wrap 이 no wrap 이니까 잘 먹어줌 */
}

footer .inner .footer__sub-menu>ul>li {
  font-size: 12px;
  color: #cccccc;
}

/* .contour가 클래스 선택자라 바로 위 li 태그를 이길 것임 */
footer .inner .footer__sub-menu>ul>li.contour {
  color: #999;
}

/* 실제 스타벅스에서는 가상요소선택자로 활용했을거임.
강사님이 한 건 간단하게 할 수 있는 방법도 있는걸로ㅣ이런거 써서 보여줌. */

footer .inner .footer__sub-menu>ul>li:first-child>a {
  /* a태그까지 지정을 해야 색이 변함 */
  color: #00b050;
  font-weight: bold;
}

footer .inner .footer__sub-menu>ul>li>a {
  color: #cccccc;
  /* 이거 안먹이면 링크처럼 보라색 글자로 변함 */
}

footer .inner .footer__sub-menu>ul>li>a:hover {
  text-decoration: underline;
}

/* 버튼 방법은 flex 아니고 라떼버전으로 함 */
/* 글자니까 중앙정렬 된다. 가로로 쌓이니까 알아서 중앙정렬 될 것임 */
/* FOOTER BTN */
footer .inner .footer__btn {
  text-align: center;
  /* 글자요소는 얘가 제일 잘먹힘. 블록 요소는 당연히 안됨.
  얘가 정렬하고자 하는 대상이 inline인지 inline-block인지 파악해야 함.
  block 인 아이들은 flex 쓰는게 정신 건강에 이로움. */
}

footer .inner .footer__btn .btn {
  margin-right: 5px;
  /* COMMON 영역에 inline-block 있기 때문에 가능한 부분 */
  font-size: 12px;
}

footer .inner .footer__btn .btn:hover {
  /* 얘는 배경색 하얗게 안차서 다시 hover 먹여 바꿔줌 */
  background-color: transparent;
  text-decoration: underline;
  color: white;
  /* 글자 검정색으로도 변경되서 white로 바꿔줌 */
  /* 글로벌 스타일은 하나만 선택되는데 여러개 클래스 선택자 겹쳐져서
  점수 합산 합산 해서 이기게 되는 구조임. */
}

/* FOOTER COPYRIGHT */
footer .inner .footer__copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

footer .inner .footer__copyright>p {
  line-height: 30px;
  /* 줄 간격이 늘어나면서 여유있게 배치되는 효과 가져옴 */
}